# Environments
.env
.venv
env/
venv/

data
model

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
logs/
*.log

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Distribution / packaging
build/
dist/
eggs/
.eggs/
*.egg-info/
*.egg

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/
model/